.root{
    -fx-background-color : linear-gradient(to top, black, rgb(2, 90, 90));
}
.label {
    -fx-font-family: cursive;
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: bottom-center;
 }
 
 .button {
    -fx-font-size: 11pt;
    -fx-font-weight: 700;
    -fx-text-fill: rgb(7, 150, 245);
    -fx-background-color : transparent;
    -fx-alignment: bottom-center;
    
 }
 .text-field{
     -fx-max-width : 120;
     -fx-background-insets: 0, 0 0 0 0;
     -fx-background-radius: 0;
     -fx-background-color : transparent;
     -fx-font-size: 10pt;
     -fx-font-weight: 600;
     -fx-text-fill: rgb(151, 231, 119);
 }
