.root{
    background-color: linear-gradient(to top, black, rgb(2, 90, 90));
    -fx-background-color : linear-gradient(to top, black, rgb(2, 90, 90));
}

.profile-name {
    -fx-text-fill: white;
    -fx-font-size: 18pt;
    -fx-background-color: transparent;
}

.profile-name:hover {
    -fx-text-fill: rgba(255, 255, 255, 0.829);
}

.add-profile-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}